/*
FILE NAME: main.css
WRITTEN BY: Ine Lofthus Arnesen, Zawadi Berg Svela, Jonas Giske and Aslak Hollund
MANAGED BY: Aslak Hollund
WHEN: November 2016
PURPOSE: This is the main stylesheet for saftogsuse.no it drives the layout for
all pages except index.html.

Comments throughout the document designate sections for ease of reading.
*/
body, html{
	width: 100%;
	height: 100%;
	margin: 0px;
	font-size: 12pt;
}

#banner{
	width:100%;
}

h1{
	text-align: center;
	font-size: 5em;
	font-family: "Bodoni MT", Georgia, serif;
	font-weight: normal;
	margin: 40px 0 10px 0;
}

h2{
	font-family: "Lucida Grande", sans-serif;
	font-weight: normal;
}

p, footer, textarea, input, .radioText{
	font-family: Verdana, Geneva, sans-serif;
}

#ingress{
	width:40%;
	text-align: center;
	margin: 15px auto 120px auto;
	font-family: "Lucida Grande", sans-serif;
	font-size: 1em;
	color: grey;

}

#aboutLogo{
	display: block;
	margin: 40px auto 0 auto;
    align-content: center;
}

/*--- Box styling ---*/
main{
	min-height: 100%;
	width: calc(100% - 80px);
	position:relative;
	padding: 35px 40px;
}

.imgAndTextNextTo{
	position: relative;
	width: 60%;
	min-width: 600px;
	margin: 50px auto;
	display:block;
	height:200px;
}

.imgAndTextNextTo img{
	position: absolute;
	max-width: 200px;
	max-height: 150px;
}

.imgAndTextNextTo .textBox{
	position: absolute;
	right: 0;
	width: calc(100% - 200px);
}

.imgAndTextNextTo p{
	margin: 0;
}

.imgAndTextNextTo h2{
	margin:0 0 0 0;
}

.roundImage img{
	border-radius: 50%;
}

#om_oss_container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    min-width: 800px;
}

.imgAndTextBelow p{
    width: 250px;
    text-align: left;
    display: inline-block;
}

.imgAndTextBelow {
    display: inline-block;
    margin-right: 70px;
    margin-left: 70px;
}

.imgAndTextBelow img{
	height: 200px;
	width: 200px;
}

/*--- canvas styling ---*/
#canvas_container{
	margin: 80px auto;
	display: block;
	width: 700px;
}

/*--- eplepresser.html/press_click.js styling ---*/
.interactive_press{
	width: 480px;
	margin: auto;
	position: relative;
	align-content: center;
}

.interactive_press img{
	height: 400px;
	width: 210px;
	display: block;
	margin: -90px auto 0 auto;
}

.pressPopup{
	visibility: hidden;
	position: absolute;
	margin: auto;
	display: block;
	width: 265px;
	background-color: #ddd;
	border-radius: 12px;
	/* border-style: solid;
	border-width: 1px; */
	margin-right: 40px;
	padding: 5px;
}

.pressPopup > input{
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: #aaa;
	border-radius: 5px;
	width: 22px;
	height: 22px;
	padding: 2px;
}

.pressPopup > textarea{
	width: 240px;
	min-height: 10px;
	max-height: 240px;
	resize: none;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
	color: #000;
	border: none;

}

.pressPopup > h2{
	margin: 5px;
}

#bucket, #eplepresse, #jekk{
	top:0px;
	float: right;
	right: -380px;
}

#kar, #pressplater{
	top:30px;
	float: left;
	left: -260px;
}
/*-- End of eplepresser.html-styling --*/

/*--- Navbar styling ---*/

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #eee;
}

#navbar li {
	float: left;
	font-family: "Lucida Sans Unicode";
	text-transform: uppercase;
	font-weight: bold;
	border-right: 1px inset #999;
	font-size: 14px;
}

#navbar #header_fb_logo{
	padding-top: 5px;
	padding-right: 20px;
	float: right;
	border-right: none;
}


#navbar #header_fb_logo a{
	min-width: 0;
	padding: 0;
}

#navbar li a{
	display: block;
	color: grey;
	text-align: center;
	padding: 10px 0px;
	text-decoration: none;
}

#navbar .header_text_link{
	min-width: 150px;
}

#navbar #header_logo img{
	padding: 0px;
}

#navbar #header_logo a{
	width: 100px;
	padding: 0px;
	padding-bottom: 1px;
}

#navbar{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

#navbar li a:hover{
	color: #00cc66;
}

/*--- footer styling ---*/

footer{
	width: 100%;
	color: grey;
	background-color: #eee;
	height: 175px;
	margin: 80px 0 0 0;
	z-index: 999;
}

footer > div{
	width: 15%;
	float: left;
	margin: 0px 2%;
}

footer div a{
	text-decoration: none;
	color: #00cc66;
}

.footer_text h3{
	padding-top: 30px;
	font-size: 0.9em;
}

.footer_text p{
	font-size: 0.8em;
}

/* form styling */

#contactForm {
    margin: -50px auto 0 auto;
    width: 495px;
}

/* style label */
label {
    display: block;
    margin-top:20px;
    letter-spacing: 2px;
}

/* style inputs and textarea */
input[type=text], textarea {
    width: 200px;
    height: 25px;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid black;
    font-size: 0.9em;
    color: #3a3a3a;
    /* rounded corners */
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

textarea {
    height: 213px;
    width: 400px;
}

/* blue line when input is selected */
input:focus, textarea:focus {
    border: 1px solid blue;
}

/* style submit button */
#submit {
    width: 100px;
    height: 35px;
    border: none;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    background-color: #00cc66;
    font-weight: 700;
}

/* change opacity when hover over submit button */
#submit:hover {
    opacity: .9;
}


/*--- Expanded image styling ---*/
.expandableImg:hover{
	cursor:pointer;
}


#largeImgPanel {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 100;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(100,100,100, 0.5);
}

#largeImg {
	display: none;
	height:80%;
	margin: 5%;
}
