/*
FILE NAME: index.css
WRITTEN BY: Aslak Hollund
WHEN: November 2016
Purpose: This is the stylesheet for the index page. The index page has a seperate
stylesheet since it's radically different in design from the rest of the website.
*/

body{
    position:relative;
    margin: 0px;
}

#bg{
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0px;
    left: 0px;

    z-index: -999;
}

#logo img{
    width: 453px;
    height: 384px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -227px 0 0 -238px;
}

#nav{
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 22pt;
}

.nav_element{
    display: inline-block;
    color: white;
    margin: 20px 3%;
}

a{
    text-decoration: none;
}

a:hover{
    color: darkgray;
}
