extends layout

block content
  h1= title
  p Welcome to #{title}
  p This app uses Express top provide a RESTful API to view screening data.
  p Button and UI is sadly not implemented, but you may use the links below to have various JSONs made:
  a link

